.home {
  /* display: flex;
  justify-content: space-around; */
  background-color: green;
  color: slateblue;
  width: 100vw;
  padding: 15px;
  /* position:fixed; */

}

.link {
  margin-top: -30px;
  margin-left: 850px;
  
}
.nav-keys{
padding: 10px; 
color: aliceblue;
text-decoration: none;
}





.conten1{
height: 270px;
width: 100%;
/* border: 1px solid black; */
display: flex;
justify-content: space-around;
}
.sub1{
  height: 230px;
  width: 300px;
  /* border: 1px solid black;  */
  padding: 10px; 
  margin: 20px; 
  background-color: bisque;
  border-radius: 10px; 
  
}
.sub2{
  height: 230px;
  width: 300px;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  border-radius: 10px;
}
.sub3{
  height: 230px;
  width: 300px;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  border-radius: 10px;
}
.sub4{
   
   height: 230px;
  width: 300px;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  border-radius: 10px;
}

 .conten2 {
     height: 270px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    
    }
    .sub1{
    
       height: 230px;
      width: 300px;
      /* border: 1px solid black;  */
      padding: 10px; 
      margin: 20px; 
      background-color: bisque;
      border-radius: 10px; 
      
    }
    .sub2{
       
       height: 230px;
      width: 300px;
      /* border: 1px solid black; */
      padding: 10px;
      margin: 20px;
      background-color: bisque;
      border-radius: 10px;
    }
    .sub3{
       
       height: 230px;
      width: 300px;
      /* border: 1px solid black; */
      padding: 10px;
      margin: 20px;
      background-color: bisque;
      border-radius: 10px;
    }
    .sub4{
       
       height: 230px;
      width: 300px;
      /* border: 1px solid black; */
      padding: 10px;
      margin: 20px;
      background-color: bisque;
      border-radius: 10px;
    }
    .conten3{
        height: 270px;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        
        }
        .sub1{
        
           height: 230px;
          width: 300px;
          /* border: 1px solid black;  */
          padding: 10px; 
          margin: 20px; 
          background-color: bisque;
          border-radius: 10px; 
          
        }
        .sub2{
           
           height: 230px;
          width: 300px;
          /* border: 1px solid black; */
          padding: 10px;
          margin: 20px;
          background-color: bisque;
          border-radius: 10px;
        }
        .sub3{
           
           height: 230px;
          width: 300px;
          /* border: 1px solid black; */
          padding: 10px;
          margin: 20px;
          background-color: bisque;
          border-radius: 10px;
        }
        .sub4{
           
           height: 230px;
          width: 300px;
          /* border: 1px solid black; */
          padding: 10px;
          margin: 20px;
          background-color: bisque;
          border-radius: 10px;
        }
        .conten4{
            height: 270px;
            width: 100%;
            /* border: 1px solid black; */
            display: flex;
            
            }
            .sub1{
            
               height: 230px;
              width: 300px;
              /* border: 1px solid black;  */
              padding: 10px; 
              margin: 20px; 
              background-color: bisque;
              border-radius: 10px; 
              
            }
            .sub2{
               
               height: 230px;
              width: 300px;
              /* border: 1px solid black; */
              padding: 10px;
              margin: 20px;
              background-color: bisque;
              border-radius: 10px;
            }
            .sub3{
               
               height: 230px;
              width: 300px;
              /* border: 1px solid black; */
              padding: 10px;
              margin: 20px;
              background-color: bisque;
              border-radius: 10px;
            }
            .sub4{
               
               height: 230px;
              width: 300px;
              /* border: 1px solid black; */
              padding: 10px;
              margin: 20px;
              background-color: bisque;
              border-radius: 10px;
            }
            .conten5{
                height: 270px;
                width: 100%;
                /* border: 1px solid black; */
                display: flex;
                
                }
                .sub1{
                
                   height: 230px;
                  width: 300px;
                  /* border: 1px solid black;  */
                  padding: 10px; 
                  margin: 20px; 
                  background-color: bisque;
                  border-radius: 10px; 
                  
                }
                .sub2{
                   
                   height: 230px;
                  width: 300px;
                  /* border: 1px solid black; */
                  padding: 10px;
                  margin: 20px;
                  background-color: bisque;
                  border-radius: 10px;
                }
                .sub3{
                   
                   height: 230px;
                  width: 300px;
                  /* border: 1px solid black; */
                  padding: 10px;
                  margin: 20px;
                  background-color: bisque;
                  border-radius: 10px;
                }
                .sub4{
                   
                   height: 230px;
                  width: 300px;
                  /* border: 1px solid black; */
                  padding: 10px;
                  margin: 20px;
                  background-color: bisque;
                  border-radius: 10px;
                }
                .conten6{
                    height: 270px;
                    width: 100%;
                    /* border: 1px solid black; */
                    display: flex;
                    
                    }
                    .sub1{
                    
                       height: 230px;
                      width: 300px;
                      /* border: 1px solid black;  */
                      padding: 10px; 
                      margin: 20px; 
                      background-color: bisque;
                      border-radius: 10px; 
                      
                    }
                    .sub2{
                       
                       height: 230px;
                      width: 300px;
                      /* border: 1px solid black; */
                      padding: 10px;
                      margin: 20px;
                      background-color: bisque;
                      border-radius: 10px;
                    }
                    .sub3{
                       
                       height: 230px;
                      width: 300px;
                      border: 1px solid black;
                      padding: 10px;
                      margin: 20px;
                      background-color: bisque;
                      border-radius: 10px;
                    }
                    .sub4{
                       
                       height: 230px;
                      width: 300px;
                      /* border: 1px solid black; */
                      padding: 10px;
                      margin: 20px;
                      background-color: bisque;
                      border-radius: 10px;
                    } 
                    .Name{
                      text-align: center;
                      /* padding: 2px; */
                      /* margin: 2px; */
                      position: relative;
                      bottom: 5px;
                      color: black;
                    }
                    .conten7{
                      height: 270px;
                      width: 100%;
                      /* border: 1px solid black; */
                      display: flex;
                      
                      }
                      .sub1{
                      
                         height: 230px;
                        width: 600px;
                        border: 1px solid black; 
                        /* padding: 10px;  */
                        /* margin: 20px;  */
                        background-color: bisque;
                        border-radius: 10px; 
                        position: relative;
                        left: 20px;
                        text-align: center;
                        
                      }
                      .sub2{
                         
                         height: 230px;
                        width: 600px;
                        border: 1px solid black;
                        /* padding: 10px; */
                        /* margin: 20px; */
                        background-color: bisque;
                        border-radius: 10px;
                      }
                      .conten1 :hover{
                        transform: scale(0.9);
                          background-color: green; }
                          .conten2 :hover{
                            transform: scale(0.9);
                              background-color: green; }
                              .conten3 :hover{
                                transform: scale(0.9);
                                  background-color: green; }
                                  .conten4 :hover{
                                    transform: scale(0.9);
                                      background-color: green; }
                                      .conten5 :hover{
                                        transform: scale(0.9);
                                          background-color: green; }
                         
                                          .conten6 :hover{
                                            transform: scale(0.9);
                                              background-color: green; }
                                              .footer{
                                                background-color: green;
                                                color: white;
                                                display: flex;
                                                padding: 20px;
                                              }
                                              .freash{
                                                padding: 40px;
                                              }
                                              .pro2{
                                                padding: 40px;
                                              }
                                              .link1{
                                                padding: 40px;
                                              }
                             
        
             
         
        
             
     
    
          
    
         
 

     